<section class="card-three">
  <div class="container">
    <h2 class="card-three__text">Камінь - ножиці - папір</h2>

    <div class="card-three__form">
      <button class="card-three__stone" id="card-three-stone" type="button">
        <img src="./images/stone.png" alt="камінь" />
      </button>
      <button class="card-three__scissors" id="card-three-scissors" type="button">
        <img src="./images/scissors.png" alt="ножиці" />
      </button>
      <button class="card-three__paper" id="card-three-paper" type="button">
        <img src="./images/paper.png" alt="папір" />
      </button>
    </div>

    <div class="card-three__list">
      <h3 class="card-three__item">Рахунок;</h3>
      <p class="card-three__item">Комп’ютер - <samp id="card-three-item">0</samp></p>
      <p class="card-three__item">Ви - <samp id="card-three-item">0</samp></p>
    </div>
    <h4 class="card-three__block" id="card-three-block"></h4>

    <button class="card-three__btn" id="card-three-btn">Варіант комп’ютера</button>
    <div class="card-three__line"></div>
  </div>
</section>
