<section class="card-four">
  <div class="container">
    <h2 class="card-four__title">Калькулятор</h2>
    <div class="card-four__content">
      <input
        class="card-four__input"
        type="number"
        placeholder="Введіть число"
        id="n1"
      />
      <ul class="card-four__list" id="operators">
        <li class="card-four__operation">
          <button class="card-four__button" id="add">+</button>
          <button class="card-four__button" id="remove">-</button>
        </li>
        <li class="card-four__operation">
          <button class="card-four__button" id="moltiplicate">*</button>
          <button class="card-four__button" id="divis">/</button>
        </li>
      </ul>
      <input
        class="card-four__input"
        type="number"
        placeholder="Введіть число"
        id="n2"
      />
      <span class="card-four__span">=</span>
      <p class="card-four__input" id="result-four">Результат</p>
    </div>
    <div class="card-two__line"></div>
  </div>
</section>
