<section class="card-one">
  <div class="container">
    <h2 class="card-one__title">Популярні інетрактивні ігри</h2>
    <div class="card-two__line"></div>
    <h3 class="card-one__text">Перевір в який рік ти народився</h3>
    <div class="card-one__wrap">
      <form class="card-one__form">
        <input type="number" id="birthYear" class="card-one__input" placeholder="Введіть рік народження"/>
        <button id="checkButton" class="card-one__button">
          <svg width="15px" height="15px">
            <use href="./images/symbol-defs.svg#icon-lupa"></use>
          </svg>
        </button>
      </form>
      <span id="result">Введіть ваш рік народження</span>
    </div>
    <div class="card-two__line"></div>
  </div>
</section>
