<footer class="footer" id="footer">
  <div class="container">
    <ul class="footer__list">
      <li class="footer__item">
        <a href="./index.html">
          <svg class="logo" width="165px" height="70px">
            <use href="./images/symbol-defs.svg#icon-logo"></use>
          </svg>
        </a>
      </li>
      <li class="footer__item">
        <ul class="footer__contact">
          <li class="footer__contact-item">
            <p class="footer__contact-text">Тел: </p>
            <a class="footer__link" href="tel:+381234567890"
              > +38 (123) 456 78 90</a
            >
          </li>
          <li class="footer__contact-item">
            <p class="footer__contact-text">E-Mail: </p>
            <a class="footer__link" href="mailto:codingmagic@gmail.com"
              > codingmagic@gmail.com</a
            >
          </li>
          <li class="footer__contact-item">
            <p class="footer__contact-text">Facebook: </p>
            <a class="footer__link" href="#"> CodingMagic</a>
          </li>
          <li class="footer__contact-item">
            <p class="footer__contact-text">Twitter: </p>
            <a class="footer__link" href="#"> CodingMagic</a>
          </li>
          <li class="footer__contact-item">
            <p class="footer__contact-text">Instagram: </p>
            <a class="footer__link" href="#"> CodingMagic</a>
          </li>
        </ul>
      </li>
      <li class="footer__item">
        <div class="footer__subscribe">
          <form class="footer__form">
            <input
              type="email"
              required
              id="footer-input"
              class="footer__input"
              placeholder="Ваша ел. адреса..."
            />
            <button
              type="submit"
              class="footer__btn"
              footer-modal-open
              id="footer-btn"
            >
              Підписатись
            </button>
          </form>
          <div class="backdrop is-hidden" footer-modal>
            <div class="footer-modal">
              <button
                type="button"
                class="footer-modal__close-button"
                footer-modal-close
              >
                <svg width="15px" height="15px">
                  <use href="./images/symbol-defs.svg#icon-close-modal"></use>
                </svg>
              </button>
              <h2 class="footer-modal__title">Дякую за підписку!</h2>
            </div>
          </div>
          <p class="footer__subtext">
            *Підписавшись, Ви зможете ортимувати інформаццію про новинки на
            сайті
          </p>
        </div>
      </li>
    </ul>
  </div>
</footer>
