<header class="header">
  <div class="container">
    <ul class="header__list">
      <li class="header__item">
        <a href="./index.html">
          <svg class="logo" width="93px" height="38px">
            <use href="./images/symbol-defs.svg#icon-logo"></use>
          </svg>
        </a>
      </li>
      <li class="header__item">
        <ul class="header__nav">
          <li class="header__nav-item">
            <button type="button" class="header__text">Інтерактив</button>
            <ul class="header__select">
              <li class="header__select-item">
                <a href="#" id="header-all" class="header__select-link">Усe</a>
              </li>
              <li class="header__select-item">
                <a href="#" id="header-nums" class="header__select-link"
                  >Числовий</a
                >
              </li>
              <li class="header__select-item">
                <a href="#" id="header-games" class="header__select-link"
                  >Ігровий</a
                >
              </li>
              <li class="header__select-item">
                <a href="#" id="header-see" class="header__select-link"
                  >Ознайомчий</a
                >
              </li>
            </ul>
          </li>
          <li class="header__nav-item">
            <a class="header__link" width="100px" href="index.html#card-nine"
              >Наша команда</a
            >
          </li>
          <li class="header__nav-item">
            <a class="header__link" href="index.html#footer">Контакти</a>
          </li>
        </ul>
      </li>
      <li class="header__item">
        <div class="header__wrap">
          <button id="header-btn" class="header__btn">
            <img width="40px" height="20px" id="header-theme" src="./images/dark-version.png" alt="">
          </button>
          <p class="header__btn-text">Вітаємо, User!</p>
          <button type="button" class="header__open-modal" data-modal-open>
            <img
              width="20px"
              height="20px"
              class="header__img"
              src="./images/earth.png"
              alt=""
            />
          </button>
          <div class="backdrop is-hidden" data-modal>
            <div class="modal">
              <button
                type="button"
                class="modal__close-button"
                data-modal-close
              >
                <svg width="15px" height="15px">
                  <use href="./images/symbol-defs.svg#icon-close-modal"></use>
                </svg>
              </button>
              <p class="modal__text">
                Привіт! <br />Ви потрапили на сайт інтерактивних ігор та завдань
                <br />
                Надіємось, що вам сподобається і ви отримаєте позитивні емоції!
                <br />
                Бажаємо Вам гарно провести час!
              </p>
              <form class="modal__form">
                <label class="modal__label">Введіть своє ім’я:</label>
                <input
                  type="text"
                  class="modal__input"
                  required
                  placeholder="Ваше ім’я..."
                  id="modal-input"
                />
                <button class="modal__btn" id="modal-btn">Зберегти</button>
              </form>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</header>
